@import "./colors.scss";

*{
    margin: 0;
}
body{
    box-sizing: border-box;
}
h2{
    font-family: 'MuseoModerno', cursive;
}
h3{
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}
ul{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background: $degrade;

    nav{
        height: 80px;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        .btn-mobile{
            display: none;
            background-color: transparent;
            width: 40px;
            img{
                width: 40px;
                height: 40px;
            }
        }
        ul{
            list-style: none;
            display: flex;
            gap: 30px;
        }
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: larger;
            font-family: 'MuseoModerno', cursive;
            font-weight: 700;
        }
        button{
            width: 130px;
            height: 40px;
            border-radius: 10px;
            border: none;
            font-family: 'MuseoModerno', cursive;
            font-size: medium;
            font-weight: 700;
            cursor: pointer;
        }
    }
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    
    .center{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        width: 85%;
        margin: 30px 0;

        .curriculum{
            border-radius: 30px;
            padding: 20px;
            width: 25%;
            min-height: 556px;
            height: 70vh;
            min-width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            -webkit-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.63);
            -moz-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.63);
            box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.63);

            .apresentation{
                align-self: flex-start;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: fit-content;
                margin-bottom: 15px;

                img{
                    border: 2px solid $third-color;
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;
                }

                .apresentation-text{
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

    
                    h2{
                        width: 240px;
                        text-align: center;
                        font-family: 'MuseoModerno', cursive;
                    }
                    h3{
                        width: 230px;
                        height: 30px;
                        line-height: 30px;
                        background: $degrade;
                        border-radius: 10px;
                        text-align: center;
                        color: #FFF;
                        font-family: 'Jost', sans-serif;
                    }
                    h4{
                        text-align: center;
                        font-family: 'Jost', sans-serif;
                    }
                }

            }

            hr{
                width: 100%;
                border-top: 2px solid $third-color;
                margin-bottom: 10px;
            }
            P{
                font-weight: 500;
            }

            .text-informations{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                padding-bottom: 15px;
                .habilities{
                    text-align: center;

                    a{
                        color: $primary-color;
                    }
                }
                .tecnologies{
                    text-align: center;
                }
                .studying{
                    text-align: center;
                }
                .hobbies{
                    text-align: center;
                    max-width: 350px;
                }
            }
        }
        .projects{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 65%;
            height: 90%;
            text-align: center;
            align-self: flex-start;

            h2{
                font-size: xx-large;
                margin-bottom: 10px;
            }
            .itens{
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;


                .clone-spotify{
                    width: 550px;
                    position: relative;
    
                    img{
                        width: 550px;
                        border-radius: 15px;
                        -webkit-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.63);
                        -moz-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.63);
                        box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.63);
                    }
    
                    .overlay {
                        border-radius: 15px;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: #5233ed00;;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        transform: scale(0);
                        transition: .3s ease;
    
                        button{
                            width: 150px;
                            height: 50px;
                            border-radius: 15px;
                            border: none;
                            -webkit-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.63);
                            -moz-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.63);
                            box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.63);
                            cursor: pointer;
                            font-family: 'Jost', sans-serif;
                            font-weight: 500;
                            font-size: medium;
    
                        }
                      }
                }
                .informations{
                    max-width: 350px;
                }
                
            }
            .clone-spotify:hover .overlay {
                transform: scale(1);
              }
        }
    }
}
@media (max-width: 1650px){
    header{
        nav{
            width: 90%;
        }
    }
    main{
        .center{
            width: 90%;
        }
    }
}
@media (max-width: 1110px){
    main{
        .center{
            .curriculum{
                min-width: 300px;
                height: 80vh;

                .apresentation{
                    img{
                        width: 125px;
                        height: 125px;
                    }
                    
                    .apresentation-text{
                        h2{
                            font-size: 1.2em;
                            width: 150px;
                            line-height: 20px;
                        }
                        h3{
                            width: 150px;
                            height: 44px;
                            line-height: 22px;
                        }
                    }
                }
            }
            .projects{
                height: 85vh;
                align-self: center;
                justify-content: space-around;

                .itens{
                    flex-direction: column;
                    gap: 5px;
                    margin-bottom: 15px;

                    .clone-spotify{
                        width: 450px;

                        img{
                            width: 450px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 850px){
    header{
        #nav.active{
            ul{
                
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 100%;
                top: 80px;
                right: 0px;
                height: 200px;
                z-index: 1000;
                background: $degrade;
                justify-content: space-around;
                list-style: none;
                padding-top: 10px;
                padding-bottom: 10px;

                li{
                    padding-left: 7%;
                }
            }
        } 
        nav{
           
            .btn-mobile{
                display: block;
                order: 1;
            }
            .title{
                justify-self: center;
                order: 2;
            }
            ul{
                justify-self: flex-start;
                order: 1;
                display: none;
            }
            button{
                order: 3;
            }
        }
    }
    main{
        height: fit-content;
        .center{
            flex-direction: column;

            .curriculum{
                min-height: 80vh;
                min-width: 400px;

                .apresentation{
                    img{
                        height: 150px;
                        width: 150px;
                    }
                    .apresentation-text{

                        text-align: center;

                        h2{
                            font-size: 1.5em;
                            width: 230px;
                            line-height: 40px;
                        }
                        h3{
                            width: 230px;
                            line-height: 30px;
                            height: 30px;
                        }
                    }
                }
            }
            .projects{
                height: 100vh;
                // min-width: 80vw;
            }
        }
    }
}
@media (max-width: 490px){
    header{
        nav{
            button{
                width: 70px;
                line-height: 18px;
            }
        }
    }
    main{
        .center{
            .curriculum{
                min-width: 300px;
                height: 80vh;

                .apresentation{
                    img{
                        width: 125px;
                        height: 125px;
                    }
                    
                    .apresentation-text{
                        h2{
                            font-size: 1.2em;
                            width: 150px;
                            line-height: 20px;
                        }
                        h3{
                            width: 150px;
                            height: 44px;
                            line-height: 22px;
                        }
                    }
                }
            }
            .projects{
                width: 90%;
                height: 800px;
                .itens{
                    .clone-spotify{
                        max-width: 100%;

                        .overlay{
                            flex-direction: column;
                        }
                        img{
                            max-width: 100%;
                        }
                    }

                }
            }
        }
    }
}
@media (max-width: 350px){
    header{
        nav{
            .btn-mobile{
                img{
                    width: 35px;
                    height: 35px;
                }   
            }
        }
    }
    main{
        .center{
            .curriculum{
                min-width: 260px;
                height: 750px;

                .apresentation{
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 0;
                }
                .text-informations{
                    justify-content: space-between;
                }
            }
        }
    }
}